{
  "root": true,
  "parser": "babel-eslint",
  "extends": ["airbnb-base", "prettier", "prettier/babel"],
  "plugins": ["babel", "import", "xss"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8
  },
  "rules": {
    "quotes": [
      "error",
      "single",
      { "avoidEscape": true, "allowTemplateLiterals": true }
    ]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "jquery": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.mix.js"
      }
    }
  }
}
